*
{
    margin: 1fr;
}

html,
body
{
    margin: 0;
    font-family: 'Poppins';
    background: rgb(214, 199, 199);
}

.header {
    text-align: center;
    color: rgb(0, 0, 0); 
    border-bottom: 1px rgb(0, 0, 0) solid;
    grid-area: header;
}

.contenidoYSidebar {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 10px 0px 0px 00px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
    "header header"
    ". contenedor"
    "sidebar sidebar";
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    text-align: center;
    justify-content: center;
}

.fa-chevron-left {
    color: rgb(0, 0, 0);  
}

.tituloSidebar {
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
}

.itemSidebar {
    padding: 1rem;
    text-decoration: auto;
}

.cuento > p {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'IBM Plex Sans', serif;
    text-align: justify;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
}


.contenedorDeContenido {
    border-bottom: rgb(0, 0, 0) 1px solid;
    margin-bottom: 1rem;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        "titulo titulo canvas"
        "presentacion presentacion presentacion"
        "texto texto texto"
        "contenedorLayout contenedorLayout contenedorLayout";
    grid-area: contenedor;   
}

.center {
    margin: auto;
    place-items: center;
}

@media only screen and (max-width: 900px)  {
    .contenidoYSidebar {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas:
        "header"
        "contenedor"
        "sidebar";
    }
    .contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas:
            "titulo titulo titulo"
            "canvas canvas canvas"
            "presentacion presentacion presentacion"
            "texto texto texto"
            "contenedorLayout contenedorLayout contenedorLayout";
    }
    .layoutShooter {
        width: 300px;
    }
    .center {
        border-left: none;
    }

    .cuento > p {
        font-size: 2rem;
    }
}

.webgl
{
    outline: none;
    min-width: 150px;
    align-self: center;
}

.titulo {
    font-size: calc(50px + 10 * ((100vw - 320px) / 1480));
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
    grid-area: titulo;
}

.webgl {
    grid-area: canvas;
}

.presentacion {
    grid-area: presentacion;
}

.contenido {
    grid-area: texto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.tituloParrafo {
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.parrafo {
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
}

.fraccion {
    background-color: hotpink;
    padding: 0.5rem;
    font-size: 1rem;
}

.inputsEjercicio1 {
    text-align: center;
}

.boton {
    padding: 0.5rem;
    font-size: 1rem;
    color: blanchedalmond;
    border: 1px hotpink solid;
    background-color: rgb(24,24,24);
}

.itemSidebar, .pMain {
    text-align: center;
    color: rgb(0, 0, 0); 
    font-size: 2rem;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
}

.contenedorLayout {
    text-align: center;
    margin: auto;
    grid-area: contenedorLayout;
}

.cuento {
    max-width: 800px;
    margin: auto;
}

.musica {
    max-width: 800px;
    margin: auto;
}

.bloqueMusica {
    justify-content: center;
    display: flex;
}