*
{
    margin: 1fr;
}

html,
body
{
    margin: 0;
    font-family: 'Poppins';
    background: rgb(200 218 245)
}

.header {
    text-align: center;
    color: rgb(0, 0, 0); 
    border-bottom: 1px rgb(0, 0, 0) solid;
    grid-area: header;
}

.contenidoYSidebar {
    display: grid;
    grid-template-columns: 1fr ;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
    "header header"
    ". contenedor"
    "sidebar sidebar";
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    text-align: center;
    justify-content: center;
}

.fa-chevron-left {
    color: rgb(0, 0, 0);  
}

.tituloSidebar {
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
}

.cuento > p {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: justify;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    font-family: libre franklin,Arial,Helvetica,sans-serif;
    text-indent: 20px;
}


.contenedorDeContenido {
    border-bottom: rgb(0, 0, 0) 1px solid;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        "titulo titulo canvas"
        "presentacion presentacion presentacion";
    grid-area: contenedor;   
}

.center {
    margin: auto;
    place-items: center;
}



.pMain {
    text-align: center;
    font-size: 1.2rem;
}

.webgl
{
    outline: none;
    min-width: 150px;
    align-self: center;
}

.titulo {
    font-size: calc(50px + 10 * ((100vw - 320px) / 1480));
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
    grid-area: titulo;
}

.webgl {
    grid-area: canvas;
}

.presentacion {
    grid-area: presentacion;
}

.contenido {
    grid-area: texto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.tituloParrafo {
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.parrafo {
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
}

.fraccion {
    background-color: hotpink;
    padding: 0.5rem;
    font-size: 1rem;
}

.inputsEjercicio1 {
    text-align: center;
}

.boton {
    padding: 0.5rem;
    font-size: 1rem;
    color: blanchedalmond;
    border: 1px hotpink solid;
    background-color: rgb(24,24,24);
}

.itemSidebar {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: auto;
    padding: 1.8rem;
}

.cuento {
    max-width: 800px;
    margin: auto;
}

.musica {
    max-width: 800px;
    margin: auto;
}

.bloqueMusica {
    justify-content: center;
    display: flex;
}

.notas {
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex: 6;
}

.notaMusical {
    background-color: #fafafa; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: black 1px solid;
    width: 6rem;
    height: 15rem;
} 

.notaReferencia > p {
    text-align: center;
    background-color: rgb(156, 206, 201);
    color: rgb(0, 0, 0);
    border: rgb(65, 64, 64) 1px solid;
}

.negra {
    background-color: #000000; 
    color: rgb(255, 255, 255);
    border: rgb(65, 64, 64) 1px solid;
}

@media only screen and (max-width: 900px)  {
    .contenidoYSidebar {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas:
        "header"
        "contenedor"
        "sidebar";
    }
    .contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas:
            "titulo titulo titulo"
            "canvas canvas canvas"
            "presentacion presentacion presentacion";
    }
    .layoutShooter {
        width: 300px;
    }
    .center {
        border-left: none;
    }

    .cuento > p {
        margin-top: 0;
        margin-bottom: 20px;
        color: #000000;
        font-size: 1rem;
        line-height: 1.5;
    }

    .sidebar {
        flex-direction: column;
    }

    .itemSidebar {
        background-color: rgb(158, 166, 245);
        border: 1px rgb(200, 218, 245) solid;
    }

    .notaMusical {
        color: rgb(0, 0, 0);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        border: black 1px solid;
        width: 5rem;
    }
     
    .negra {
        background-color: #000000; 
        color: rgb(255, 255, 255);
        border: rgb(65, 64, 64) 1px solid;
    }

    .notaReferencia > p {
        display: none;
    }
}

/*# sourceMappingURL=main.css.map*/