*
{
    margin: 1fr;
    /* border: red 1px solid; */
}

html,
body
{
    margin: 0;
    font-family: 'Poppins';
    background: rgb(24,24,24);
}

.megacontenedor {
   background: #333333
   
}

.header {
    text-align: center;
    color: white; 
    border-bottom: 1px white solid;
    background: rgb(24,24,24);
}

.contenidoYSidebar {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
    "sidebar contenedor";
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tituloSidebar {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.itemSidebar {
    padding: 1rem;
    text-decoration: auto;
}

.contenedorDeContenido {
    background-color: rgb(24,24,24);
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        "titulo titulo canvas"
        "presentacion presentacion presentacion"
        "texto texto texto"
        "contenedorLayout contenedorLayout contenedorLayout";
    grid-area: contenedor;   
}

.center {
    /* max-width: 1300px; */
    margin: auto;
    place-items: center;
    background: rgb(24,24,24);
    border-left:  grey 1px solid;
}

@media only screen and (max-width: 900px)  {
    .contenidoYSidebar {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas:
        "sidebar"
        "contenedor";
    }
    .contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas:
            "titulo titulo titulo"
            "canvas canvas canvas"
            "presentacion presentacion presentacion"
            "texto texto texto"
            "contenedorLayout contenedorLayout contenedorLayout";
    }
    .layoutShooter {
        width: 300px;
    }
    .center {
        border-left: none;
    }
}

.webgl
{
    outline: none;
    mix-blend-mode: exclusion;
    min-width: 150px;
    align-self: center;
}

.titulo {
    font-size: calc(50px + 10 * ((100vw - 320px) / 1480));
    text-transform: uppercase;
    color: white;
    text-align: center;
    grid-area: titulo;
}

.webgl {
    grid-area: canvas;
}

.presentacion {
    grid-area: presentacion;
}

.contenido {
    grid-area: texto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.tituloParrafo {
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.parrafo {
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
}

.fraccion {
    background-color: hotpink;
    padding: 0.5rem;
    font-size: 1rem;
}

.inputsEjercicio1 {
    text-align: center;
}

.simplificar {
    padding: 0.5rem;
    font-size: 1rem;
    color: blanchedalmond;
    border: 1px hotpink solid;
    background-color: rgb(24,24,24);
}

.itemSidebar, .pMain {
    text-align: center;
    color: white; 
    font-size: calc(18px + 10 * ((100vw - 320px) / 1480));
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
}

.parrafo > p {
    border: 1px solid hotpink;
}

.contenedorLayout {
    text-align: center;
    margin: auto;
    grid-area: contenedorLayout;
}

.celdas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}

.entraDraggeable {
    border: 1px solid hotpink;
}

.draggeable {
    
}

.cuento {
    max-width: 800px;
    background-color: rgb(24,24,24);
    margin: auto;
}

.cuento > p {
    text-align: left;
    color: white; 
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
    /* text-align: justify; */
    padding-right: 1.8rem;
    padding-left: 1.8rem;
}

/*# sourceMappingURL=main.css.map*/